*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.card img{
    width: 100%;
    height: 30%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.textBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 75%;
    text-align: center;
}
#amountBox{
    width: 80%;
    height: 10%;
    background-color: #8bc5ec54;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}
@media (max-width: 350px) {
    #amountBox{
        flex-direction: column;
        justify-content: center;
        height: 25%;
    }
    #leftBox{
        flex-direction: column;
        justify-content: space-around;
    }
  }
#leftBox{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;
}
.rightBox a{
    text-decoration: none;
}
.imgBox img{
    height: 3.5rem;
    width: 3.5rem;
}
#paymentButton{
    width: 80%;
    height: 9%;
    background-color: rgb(22,22,79);
    color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.cancelBox a{
    text-decoration: none;
    color: rgb(51, 50, 50);
    font-weight: bold;
    font-size: large;
}
